<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="dc-customer-support-agent.ZPM">
    <Module>
      <Name>dc-customer-support-agent</Name>
      <Version>0.0.2</Version>
      <Description>Basic InterSystems IRIS Development Template</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.sample.PKG"/>
    </Module>
  </Document>
</Export>
